.category-container{
    display: flex;
    margin-top: 8vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.category-container h1{
    color: black;
    margin: 0px;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
}
.category-container h5{
    color: black;
    margin: 0px;
    text-align: center;
    font-weight: normal;
    padding-left: 24px;
    padding-right: 24px;
}

.category-wrapper{
    display: flex;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    /*    padding-bottom: 16px;*/
    scrollbar-width: none;
}
.category-wrapper::-webkit-scrollbar {
    display: none;
}

.category-item{
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    max-width: 250px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: pre-wrap;
    background-color: #F5F5F5;
    border-radius: 16px;
}

.category-item img{
    width: 100%;
    aspect-ratio: 3/2;
}

.category-item h4{
    color:  #505050;
    margin: 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
}

.category-item h6{
    color: black;
    margin: 0px;
    font-weight: normal;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.category-wrapper::-webkit-scrollbar {
    height: 6px;
}
.category-wrapper::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 3px;
}


/* Tab View */
@media (max-width: 800px){

    .category-container{
        margin-top: 5vh;
    }

    .category-item{
        flex: 0 0 calc((100% - 96px)/4);
        max-width: calc((100% - 96px)/4);
    }

}


/* Mobile View */
@media (max-width: 635px) {

    .category-container{
      align-items: flex-start;
    }


    .category-wrapper{
        gap: 16px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 16px;
    }

    .category-item{
        flex: 0 0 calc((100% - 36px)/2);
        max-width: calc((100% - 36px)/2);
    }

    .category-container h1{
        padding-left: 12px;
        padding-right: 12px;
        text-align: left;
        font-size: 20px;
    }

    .category-container h5{
        padding-left: 12px;
        padding-right: 12px;
        text-align: left;
    }

    .category-item h4{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.4em;
        line-height: 1.2em; /* Adjust as needed */
        margin-top:8px;
        margin-left:8px;
        margin-right:8px;
        margin-bottom: 0px;
    }

    .category-item h6{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 2.4em;
        line-height: 1.2em; /* Adjust as needed */
        margin-top: 0px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }
}