body{
    margin: 0px;
    padding: 0px;
    margin-top: 56px;
}

input:focus {
    outline: none;
    border: none;
}

/* Mobile View */
@media (max-width: 800px){
    body{
        margin-top: 0px;
    }

}